# Ignore Python virtual environments
venv/
env/

# Ignore compiled Python files
*.pyc

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore build artifacts
build/
dist/

# Ignore sensitive or environment-specific files
.env
config.ini

# Ignore generated documentation
docs/
